<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <title>个人报告</title>
</head>
<style>
    * {
        font-family: KaiTi_GB2312;
    }

    .btbg {
        text-align: center;
    }

    .bgcolor {
        background-color: #ededed;
    }
</style>
<body>
<table border="0" align="center" width="100%" cellpadding="2" cellspacing="0">
    <tr>
        <td align="center" height="60"><p style="font-size: 30px;color: lightseagreen;font-weight: bold">个人报告</p></td>
    </tr>
</table>
<table class="tabtop" width="100%" border="1" cellpadding="1" cellspacing="2" align="center">
    <tr>
        <td width="10%" class="btbg bgcolor">姓名</td>
        <td width="10%" class="btbg">${username}</td>
        <td width="10%" class="btbg bgcolor">性别</td>
        <td width="10%" class="btbg"></td>
        <td width="10%" class="btbg bgcolor">出生日期</td>
        <td width="10%" class="btbg"></td>
        <td width="10%" class="btbg" rowspan="5">图片</td>
    </tr>
    <tr>
        <td class="btbg bgcolor">民族</td>
        <td class="btbg"></td>
        <td class="btbg bgcolor">政治面貌</td>
        <td class="btbg"></td>
        <td class="btbg bgcolor">婚姻状况</td>
        <td class="btbg"></td>
    </tr>
    <tr>
        <td class="btbg bgcolor">邮箱</td>
        <td class="btbg"></td>
        <td class="btbg bgcolor">手机</td>
        <td class="btbg"></td>
        <td class="btbg bgcolor">年龄</td>
        <td class="btbg"></td>
    </tr>
    <tr>
        <td class="btbg bgcolor">现所在地</td>
        <td class="btbg"></td>
        <td class="btbg bgcolor">籍贯</td>
        <td class="btbg"></td>
        <td class="btbg bgcolor">学历</td>
        <td class="btbg"></td>
    </tr>
    <tr>
        <td width="8%" class="btbg bgcolor">毕业学校</td>
        <td colspan="2" width="8%" class="btbg"></td>
        <td width="8%" class="btbg bgcolor">专业</td>
        <td colspan="2" width="8%" class="btbg"></td>
    </tr>
    <tr>
        <td class="btbg bgcolor" rowspan="5">学习经历</td>
        <td colspan="2" class="btbg bgcolor">起止年月</td>
        <td colspan="2" class="btbg bgcolor">就读学校</td>
        <td colspan="3" class="btbg bgcolor">专业</td>
    </tr>
    <tr>
        <td colspan="2" class="btbg">&nbsp;</td>
        <td colspan="2" class="btbg"></td>
        <td colspan="3" class="btbg"></td>
    </tr>
    <tr>
        <td colspan="2" class="btbg">&nbsp;</td>
        <td colspan="2" class="btbg"></td>
        <td colspan="3" class="btbg"></td>
    </tr>
    <tr>
        <td colspan="2" class="btbg">&nbsp;</td>
        <td colspan="2" class="btbg"></td>
        <td colspan="3" class="btbg"></td>
    </tr>
    <tr>
        <td colspan="2" class="btbg">&nbsp;</td>
        <td colspan="2" class="btbg"></td>
        <td colspan="3" class="btbg"></td>
    </tr>
    <tr>
        <td class="btbg bgcolor" rowspan="5">工作经历</td>
        <td colspan="2" class="btbg bgcolor">起止年月</td>
        <td colspan="2" class="btbg bgcolor">工作单位</td>
        <td colspan="3" class="btbg bgcolor">职责</td>
    </tr>
    <tr>
        <td colspan="2" class="btbg">&nbsp;</td>
        <td colspan="2" class="btbg"></td>
        <td colspan="3" class="btbg"></td>
    </tr>
    <tr>
        <td colspan="2" class="btbg">&nbsp;</td>
        <td colspan="2" class="btbg"></td>
        <td colspan="3" class="btbg"></td>
    </tr>
    <tr>
        <td colspan="2" class="btbg">&nbsp;</td>
        <td colspan="2" class="btbg"></td>
        <td colspan="3" class="btbg"></td>
    </tr>
    <tr>
        <td colspan="2" class="btbg">&nbsp;</td>
        <td colspan="2" class="btbg"></td>
        <td colspan="3" class="btbg"></td>
    </tr>
    <tr>
        <td colspan="1" class="btbg" rowspan="2">个人描述</td>
        <td colspan="7" class="btbg" rowspan="2">${description}</td>
    </tr>
</table>
</body>
</html>